@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

body {
  background-color: rgba(253, 253, 253, 1);
  font-family: Lato, Helvetica, Arial, sans-serif;
}

.container {
  width: 850px;
  height: 1100px;
  min-width: 850px;
  min-height: 1100px;
  padding: 40px 40px 40px 40px;
}

.container a, .container a:hover, .container a:visited {
  color: rgba(51, 51, 51, 1);
  text-decoration: none;
}

h1 {
  margin: 0;
  letter-spacing: 4px;
}

h4 {
  letter-spacing: 3px;
}

.inline {
  display: inline-block;
}

.right-margin {
  margin-right: 45px;
}

.content {
  margin-top: 20px;
}

.content h5 {
  margin-top: 15px;
}

.content p {
  margin-bottom: 7px;
}

.secondary {
  margin-top: 40px;
}

.edu {
  margin-left: 8px;
}

.right {
  float: right;
}