@import url('https://fonts.googleapis.com/css?family=Limelight|Source+Sans+Pro:400,400i,700,700i');

body {
  background-color: #f5eeef;
  color: #2e283f;
  font-family: 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1 {
  font-family: 'Limelight', cursive;
}
a {
  color: #2e283f;
}
a:hover {
  color: #4dc59d;
  text-decoration: none;
}
a:focus {
  outline: none;
}
hr {
  border-top: 1px solid #2e283f;
}

.resume-container {
  margin: 0 auto;
  width: 850px;
}
.header {
  padding: 5rem 0 3rem 0;
}
.contact-section {
  margin: 0.6rem 0 0 2px;
}
.contact-section i {
  margin-right: 2px;
}
.col-45, .col-55 {
  display: inline-block;
  vertical-align: top;
}
.col-45 {
  padding-right: 20px;
  width: calc(45% - 2px);
}
.col-55 {
  padding-left: 20px;
  width: calc(55% - 2px);
}
.skills-line, .speaking-line, .education-line, .experience-line, .projects-line {
  margin: 0 0 1.4rem 6px;
}
.skills-line {
  width: calc(100% - 68px);
}
.speaking-line {
  width: calc(100% - 96px);
}
.education-line {
  width: calc(100% - 110px);
}
.experience-line {
  width: calc(100% - 115px);
}
.projects-line {
  width: calc(100% - 98px);
}
.resume-section p {
  margin-bottom: 1.2rem;
}
.section-content, .cover-letter-content {
  padding-right: 3px;
}
.cover-letter-line {
  margin: 3px 0 2.5rem 0;
}

.small {
  font-size: 90%;
}
p.small.mt-1 {
  margin-top: 0.3rem !important;
}
p.small i {
  margin-right: 1px;
}
