@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);

/* reset */
* {
  box-sizing        : border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
  -ms-box-sizing    : border-box;
  -o-box-sizing     : border-box;
}
body {
  color: #333333;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
h1 {
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}
p, ul {
  margin: 0 0 15px 0;
}
ul {
  list-style-type: none;
  margin: 0 0 16px 0;
  padding-left: 2px;
}
a, a:focus {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #f90d50;
}

/* helper classes */
.normal {
  font-weight: normal;
}
.no-margin {
  margin: 0;
}
.sm-margin {
  margin: 0 0 4px 0;
}
.section-header {
  letter-spacing: 1px;
  margin: 40px 0 16px 0;
  text-transform: uppercase;
}
.section-header:first-child {
  margin-top: 20px;
}

/* layout */
.container {
  height: 1100px;
  margin: 0 auto;
  padding: 0 40px;
  width: 850px;
}
.header {
  border-bottom: 1px solid #d5d5d5;
  padding: 40px 0;
}
.nav-list {
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.nav-list:not(:first-child) {
  margin-top: 10px;
}
.nav-list li {
  display: inline-block;
  margin-right: 31px;
  vertical-align: top;
}
.nav-list li:last-child {
  margin-right: 0;
}
.col-50 {
  display: inline-block;
  padding-right: 5px;
  vertical-align: top;
  width: calc(50% - 2px);
}